
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", sans-serif;
}


/* width */
::-webkit-scrollbar { 
	width: 5px; 
} 

/* Track */
::-webkit-scrollbar-track { 
	background: #f1f1f1; 
} 

/* Handle */
::-webkit-scrollbar-thumb { 
	background: #888; 
	border-radius: 5px; 
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
	background: #666; 
}
::-webkit-scrollbar:horizontal {
  width: 2px;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
